body {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00CED1;
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  text-align: center;
}
.login {
  background-color: #2F4F4F;
  color: white;
  padding: 10px 10px 10px;
  border-radius: 3px;
}
  h1 {
    
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #2F4F4F;
    background: #f3f3f3;
    
  }

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 30px;
  color: black;
  background: white;
  border: 1px solid;
  border-color: #00CED;
  border-radius: 2px;
  outline: 5px solid #f3f3f3;
}
input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #2F4F4F;
  background: #f3f3f3;
  border: 1px solid;
  border-radius: 16px;
border-color: #f3f3f3;
  }


